.navbarph{
   
  align-items: center;
  justify-content: center;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    height: 500px;
}
.navlist{
  width: 50%;
    flex-direction: column;
}
.rightnav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.search{
    max-width: 100%;
}

.burger{
position: absolute;
cursor: pointer;
right: 5%;
top: 15px;
}

.line{
    width: 33px;
    height: 4px;
    background-color: white;
    margin: 5px;
}
.h-nav{
    height: 60px;
    background: black;
}

.v-class{
    opacity: 0;
}

.box-main{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
  
}

.first-half{
    font-size: 15px;
  position:relative ;
  right: 50px;
  top: -20px;
}
.text-big{
    margin: 10px;
    font-size: 1rem;
 

}
.text-small{
    font-size:1rem;
    
}

.second-half{
   max-width: 100%;
}
.second-half img{
    height:200px;
    width: 250px;
    border: 1px solid rgb(246, 246, 245);
    border-radius:50px;
    position: relative;
    left:80px; 
    margin: 20px;  
}

#about-us{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    flex-direction: column-reverse;
    font-size: 16px;

}
#about-us-left{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
   
    flex-direction: column-reverse;
    font-size: 16px;
}
.paras{
    padding: 0px;
    font-size: 14px;
}
.contact-us{
    width: 100%;
    margin-top: 20px;
}
.input{
    padding: 5px;
    margin: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid honeydew;
 }
 footer{
    background: rgb(22, 22, 22);
    color: white;
    
    height: auto;
}
 .text-footer{
    text-align: center;
    font-family: 'Shippori Antique B1', sans-serif;
      font-size: 1rem;
      padding: 5px 0px;
  }
 
 